<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remito</title>
</head>

<body>
    <div class="remito-container" #content>
        <input class="remito-label" type="text">
        <p class="remito-label">Fecha</p>
        <h1 class="remito-title">REMITO</h1>
        <div class="remito-info">
            <div class="remito-section">
                <input class="form-control" type="text">
                <p class="remito-label">Número de Remito</p>
            </div>
            <br>

        </div>
        <div class="remito-section">
            <input *ngIf="imagenSeleccionada" type="file" (change)="cargaImagen($event)">
            <img [src]="seleccionImagen" [style.width.px]="imgWidth" [style.height.px]="imgHeight"
                *ngIf="seleccionImagen" alt="Imagen Cargada">
        </div>
        <div class="remito-section" *ngIf="mostrarBotonImagen">
            <button (click)="eliminarImagen()">Eliminar</button>
        </div>


        <div class="remito-section">
            <h2 class="remito-subtitle">Vendedor:</h2>
            <p><strong>Nombre de la Empresa:</strong> <input class="form-control" type="text"></p>
            <p><strong>Dirección:</strong> <input class="form-control" type="text"></p>
            <p><strong>Teléfono:</strong> <input class="form-control" type="text"></p>
            <p><strong>Email:</strong> <input class="form-control" type="text"></p>
        </div>

        <div class="remito-section">
            <h2 class="remito-subtitle">Comprador:</h2>
            <p><strong>Nombre:</strong> <input class="form-control" type="text"></p>
            <p><strong>Dirección:</strong> <input class="form-control" type="text"></p>
            <p><strong>Teléfono:</strong> <input class="form-control" type="text"></p>
            <p><strong>Email:</strong> <input class="form-control" type="text"></p>
        </div>

        <div class="remito-section">
            <h2 class="remito-subtitle">Detalle de la Entrega:</h2>
            <div class="producto">
                <p><strong>Producto:</strong> <input class="form-control" type="text"></p>
                <p><strong>Cantidad:</strong> <input class="form-control" type="text"></p>
                <p><strong>Descripción:</strong> <input class="form-control" type="text"></p>
            </div>
            <div class="producto">
                <p><strong>Producto:</strong> <input class="form-control" type="text"></p>
                <p><strong>Cantidad:</strong> <input class="form-control" type="text"></p>
                <p><strong>Descripción:</strong> <input class="form-control" type="text"></p>
            </div>
        </div>

        <div class="remito-section">
            <h2 class="remito-subtitle">Observaciones:</h2>
            <p><input class="form-control" type="text"></p>
        </div>

        <div class="remito-signature">
            <p class="remito-label">Firma del Receptor:</p>
            <p class="remito-value">_______________________</p>
            <input [hidden]="!mostrarBoton" type="button" value="Guardar PDF" class="btn btn-success"
                (click)="SavePDF()">
        </div>
        <div>

        </div>
    </div>
</body>

</html>