<br>
<div class="form-container">
  <form (submit)="createOrder()">
    <label>Titulo:</label>
    <input [(ngModel)]="newOrder.title" name="title" required>
    <br>

    <label>Descripcion:</label>
    <textarea [(ngModel)]="newOrder.description" name="description" required></textarea>
    <br>

    <label>Asignado a:</label>
    <select [(ngModel)]="newOrder.assignedTo" name="assignedTo" required>
      <option *ngFor="let usuario of usuariosTecnicos" [value]="usuario">{{ usuario.nombre }}</option>
    </select>

    <label>Foto de la caldera:</label>
    <div class="file-input-container">
      <input type="file" (change)="onFileSelected($event)">
      <button *ngIf="isFileSelected" type="button" class="btn btn-danger btn-floating" (click)="removeFile()">
        <i class="bi bi-x"></i>
      </button>
    </div>
    <br>

    <label>Link de la foto:</label>
    <!-- <input [(ngModel)]="newOrder.fotoCaldera" name="fotoCaldera" [disabled]="isFileSelected"> -->
    <input class="form-control-plaintext" [(ngModel)]="newOrder.fotoCaldera" name="fotoCaldera" readonly>
    <br>
    <button type="submit" class="btn btn-success">Crear Orden</button>
  </form>
</div>
