li {
    margin-bottom: 5px;
    list-style-type: none;
    padding: 0;
    color: #333;
}

.order {
    border: 3px solid #130707;
    padding: 10px;
    margin: 10px;
    /* margin-right: 20px; */
}

.details {
    background-color: #f5f5f5;
    padding: 5px;
    margin-bottom: 5px;
}