<!-- <form (submit)="ingresar()" method="post" class="mt-3" *ngIf="!revelar">
  <div class="form-group">
    <label for="username">Nombre de usuario:</label>
    <input type="text" [(ngModel)]="ingreso.nombre" name="ingreso.nombre" required class="form-control">
  </div>

  <div class="form-group">
    <label for="password">Contraseña:</label>
    <input type="password" [(ngModel)]="ingreso.password" name="ingreso.password" required class="form-control">
  </div>

  <button type="submit" class="btn btn-primary" (click)="validarUser(ingreso.nombre!, ingreso.password!)">Iniciar sesión</button>
</form>

<div *ngIf="revelar" class="mt-3 alert alert-danger">
  Usuario y/o contraseña incorrectos <button (click)="reintentar()" class="btn btn-success">Reintentar</button>
</div> -->

<p>usuarios-ingresar works!</p>


<div>
  <div [ngSwitch]="error">
    <div *ngSwitchCase="0">
      <form (submit)="validarUser(ingreso.nombre!, ingreso.password!)" method="post">
        <fieldset>
            <legend>Ingrese su nombre y password</legend>
            <input  type="text" [(ngModel)]="ingreso.nombre"
                name="ingreso.nombre" placeholder="Nombre">>
            <input type="password" [(ngModel)]="ingreso.password" name="ingreso.password"
                placeholder="Password">

            <button (click)="validarUser(ingreso.nombre!, ingreso.password!)" class="btn btn-success">Ingresar</button>
        </fieldset>
      </form>
    </div>
    <div *ngSwitchCase="1">Usuario y/o contraseña incorrectos.
      <button (click)="reintentar()" class="btn btn-success">Reintentar</button>
    </div>
  </div>
</div>
<br><br>