<!-- <div>
  <div [ngSwitch]="error">
    <div *ngSwitchCase="0">
      <form (sub  mit)="validarUser(ingreso.nombre!, ingreso.password!)" method="post">
        <fieldset>
            <legend>Ingrese su nombre y password</legend>
            <input  type="text" [(ngModel)]="ingreso.nombre"
                name="ingreso.nombre" placeholder="Nombre">>
            <input type="password" [(ngModel)]="ingreso.password" name="ingreso.password"
                placeholder="Password">

            <button (click)="validarUser(ingreso.nombre!, ingreso.password!)" class="btn btn-success">Ingresar</button>
        </fieldset>
      </form>
    </div>
    <div *ngSwitchCase="1">Usuario y/o contraseña incorrectos.
      <button (click)="reintentar()" class="btn btn-success">Reintentar</button>
    </div>
  </div>
</div>
<br><br> -->

<form (submit)="ingresar()" method="post" *ngIf="!revelar" class="form-container">
  <fieldset class="file-input-container">
    <legend>Log In</legend>
    <input (focus)="limpiarUsuario()" type="text" [(ngModel)]="nuevo.nombre" name="nuevo.nombre" placeholder="Usuario">
    <input (focus)="limpiarPassword()" type="password" [(ngModel)]="nuevo.password" name="nuevo.password"
      placeholder="Contraseña">
    <button (click)="validarCampos()" class="btn btn-success">Enviar</button>
  </fieldset>
</form>
<div *ngIf="revelar" class="form-container">
  Usuario y/o contraseña incorrectos <button (click)="reintentar()" class="btn btn-success">Reintentar</button>
</div>