.navbar {
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

}

.navbar-nav .nav-link {
    color: white;
}

.navbar-brand,
.navbar-brand:hover{
    color: rgb(28, 161, 202);
}
